    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- TO BE CHANGED -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Website Under Construction</title>

        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }

            .c {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="c">
            <div>
                <h1>Website Under Construction</h1>
            </div>
            <img style="max-height: 50vh;" src="https://cdn.pixabay.com/photo/2023/03/02/07/02/architect-7824669_1280.jpg">
        </div>
    </body>
    </html>